@import '../../styles/variables.scss';

.reports {
  padding: 87px 0 0 306px;
  @media only screen and (max-width: 768px) {
    padding: 87px 0 0 0;
  }
  &__content {
    padding: 36px 38px;
  }
  &__card {
    display: flex;
    flex-wrap: wrap;
  }
}