@import "variables";

* {
  box-sizing: border-box;
}

body, html, #main {
  height: 100%;
  overflow-x: hidden;
}

#main {
  position: relative;
  background: $bg-color;
}

body {
  margin: 0;
  font-family:  'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1, h2, h3, h4, p, ul, li, img {
    margin: 0;
  }
  h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  h2 {
    font-weight: 700;
    font-size: 16px;
    color: $info-color;
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
    color: $text-color;
  }

  .sidebar-open {
    transform: translateX(0);
  }
}

@import "responsive";
