.sidebar {
  width: 306px;
  min-width: 306px;
  height: 100vh;
  padding: 26px 83px 33px 50px;
  text-align: center;
  box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px 0 20px 20px;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    svg {
      width: 40px;
    }
  }
}