@import '../../styles/variables';

.avatar {
  text-align: center;
  svg {
    width: 78px;
    height: 78px;
  }
  h2 {
    padding: 5px 0;
  }
  p {
    text-transform: capitalize;
    padding-bottom: 4px;
    font-size: 11px;
    font-weight: 400;
    color: $text-color;
  }
  h3 {
    span {
      color: $timeline-color;
    }
  }
}