@import '../../styles/variables.scss';

.banner {
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  &__content {
    position: absolute;
    right: 60px;
    transform: translateY(-50%);
    top: 50%;
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: $primary-color;
      padding-bottom: 3px;
    }
    h3 {
      border: 1px dotted $primary-color;
      border-radius: 5px;
      padding: 6px 13px;
      font-size: 22px;
      margin-right: 10px;
      color: $primary-color;
    }
    h4 {
      color: $primary-color;
    }
    @media only screen and (max-width: 992px) {
      h2 {
        font-size: 20px;
      }
      h3, h4 {
        font-size: 15px;
      }
    }
    @media only screen and (max-width: 768px) {
      h2 {
        font-size: 17px;
      }
      h3,h4 {
        font-size: 14px;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  img {
    max-width: 980px;
    width: 100%;
  }
}